Repository COS301-SE-2022/Smart-Hybrid-Workforce-manager, pull requests merged in 2022-07, with the labels that each got.

#232 🪄(feature): Added team lead and team members to backend and frontend
  .gitignore
  client/web/example/src/components/Team/TeamLeadOption.js
  client/web/example/src/components/Team/TeamListItem.js
  client/web/example/src/components/Team/UserTeamList.js
  client/web/example/src/pages/Teams.js
  client/web/example/src/pages/TeamsEdit.js
  db/sql/mock/mock.sql
  db/sql/team/team.identifier.function.find.sql
  db/sql/team/team.identifier.function.store.sql
  db/sql/team/team.schema.sql
  go/api/data/team.go
  redis/dump.rdb
Labels: priority:high, scope:api, scope:client, scope:db, type:feature

#241 Merge develop into client
  .gitignore
  README.md
  client/web/example/src/components/Role/RoleLeadOption.js
  client/web/example/src/components/Role/RoleListItem.js
  client/web/example/src/components/Role/RoleUserList.js
  client/web/example/src/components/Role/UserRoleList.js
  client/web/example/src/components/Team/TeamLeadOption.js
  client/web/example/src/components/Team/TeamListItem.js
  client/web/example/src/components/Team/TeamUserList.js
  client/web/example/src/components/Team/UserTeamList.js
  client/web/example/src/pages/Login.js
  client/web/example/src/pages/ResourcesMeetingRoomCreate.js
  client/web/example/src/pages/Roles.js
  client/web/example/src/pages/RolesEdit.js
  client/web/example/src/pages/Teams.js
  client/web/example/src/pages/TeamsEdit.js
  db/sql/mock/mock.sql
  db/sql/role/role.identifier.function.find.sql
  db/sql/role/role.identifier.function.store.sql
  db/sql/role/role.schema.sql
  db/sql/team/team.identifier.function.find.sql
  db/sql/team/team.identifier.function.store.sql
  db/sql/team/team.schema.sql
  docker-compose.yml
  go/api/data/role.go
  go/api/data/team.go
  go/api/db/db_test.go
  go/api/endpoints/booking_test.go
  go/api/endpoints/resource_test.go
  go/api/endpoints/team_test.go
  go/api/endpoints/user.go
  go/api/endpoints/user_test.go
  go/api/go.mod
  go/api/go.sum
  go/api/redis/redis.go
  go/api/security/validate.go
  redis/dump.rdb
  smart_scheduler/Dockerfile
  smart_scheduler/requirements.txt
  smart_scheduler/room.py
  smart_scheduler/scheduler_endpoint.py
  smart_scheduler/smart_scheduler.py
  smart_scheduler/user.py
Labels: priority:low, scope:client, type:feature

#242 🔒(security): Added password encryption in stored proc
  db/sql/user/user.credential.function.find.sql
Labels: priority:high, scope:db

#245 🗃(db + api): Added team priority and user preferred desk
  db/sql/mock/mock.sql
  db/sql/team/team.identifier.function.find.sql
  db/sql/team/team.identifier.function.store.sql
  db/sql/team/team.schema.sql
  db/sql/user/user.identifier.function.find.sql
  db/sql/user/user.identifier.function.store.sql
  db/sql/user/user.schema.sql
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/team.go
  go/api/data/user.go
Labels: priority:high, scope:api, scope:db, type:feature

#248 :construction: (api) fixing gitignore
  .gitignore
Labels: priority:high, scope:api, type:architecture

#251 merge api branch into develop branch
  docker-compose.yml
  go/api/data/user.go
  go/api/endpoints/user.go
  go/api/go.mod
  go/api/go.sum
Labels: priority:medium, scope:api, type:architecture

#255 🪄(api+ui+db): Added configurable team permissions
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/components/Permissions/Permission.js
  client/web/example/src/pages/ProfileConfiguration.js
  client/web/example/src/pages/TeamsEdit.js
  client/web/example/src/pages/TeamsPermissions.js
  db/sql/mock/mock.sql
  db/sql/permission/permission.function.find.sql
  db/sql/permission/permission.function.remove.sql
  db/sql/permission/permission.function.store.sql
  db/sql/permission/permission.role.function.remove.sql
  db/sql/permission/permission.role.function.store.sql
  db/sql/permission/permission.schema.sql
  db/sql/permission/permission.user.function.find.sql
  db/sql/permission/permission.user.function.remove.sql
  db/sql/permission/permission.user.function.store.sql
  db/sql/team/team.identifier.function.remove.sql
  go/api/data/permission.go
  go/api/data/team.go
  go/api/endpoints/permission.go
  go/api/endpoints/team.go
  go/api/endpoints/user.go
  go/api/security/permission.go
  go/api/security/validate.go
Labels: priority:high, scope:api, scope:db, type:refractor, type:feature

#256 merge develop branch into api branch
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/components/Permissions/Permission.js
  client/web/example/src/pages/ProfileConfiguration.js
  client/web/example/src/pages/TeamsEdit.js
  client/web/example/src/pages/TeamsPermissions.js
  db/sql/mock/mock.sql
  db/sql/permission/permission.function.find.sql
  db/sql/permission/permission.function.remove.sql
  db/sql/permission/permission.function.store.sql
  db/sql/permission/permission.role.function.remove.sql
  db/sql/permission/permission.role.function.store.sql
  db/sql/permission/permission.schema.sql
  db/sql/permission/permission.user.function.find.sql
  db/sql/permission/permission.user.function.remove.sql
  db/sql/permission/permission.user.function.store.sql
  db/sql/team/team.identifier.function.remove.sql
  go/api/data/permission.go
  go/api/data/team.go
  go/api/endpoints/permission.go
  go/api/endpoints/team.go
  go/api/endpoints/user.go
  go/api/security/permission.go
  go/api/security/validate.go
Labels: priority:high, scope:api, type:architecture

#260 🪄(ui): Added additional UI elements
  client/web/example/src/App.css
  client/web/example/src/components/BookingTicket/BookingTicket.js
  client/web/example/src/components/Team/TeamListItem.js
  client/web/example/src/pages/BookingsDesk.js
  client/web/example/src/pages/BookingsMeeting.js
  client/web/example/src/pages/Home.js
  client/web/example/src/pages/Teams.js
  client/web/example/src/pages/TeamsCreate.js
  client/web/example/src/pages/TeamsEdit.js
Labels: priority:high, scope:client, type:feature

#261 🚧 (api/scheduler) merge into develop
  .env
  go/api/go.mod
  go/api/go.sum
  go/api/scheduler/caller.go
  go/api/scheduler/caller_test.go
  go/api/scheduler/data_retriever.go
  go/api/scheduler/logger.go
  go/lib/clock/clock.go
  go/lib/restclient/restclient.go
Labels: priority:high, scope:api, type:feature, scope:scheduler

#262 🚨 (api) Fixed failing tests/builds
  go/api/endpoints/user.go
Labels: priority:high, scope:api, type:test

#274 Merge client into develop
  client/web/example/package-lock.json
  client/web/example/package.json
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/components/Map/Desk.js
  client/web/example/src/components/Map/MeetingRoom.js
  client/web/example/src/components/Role/RoleLeadOption.js
  client/web/example/src/components/Team/TeamLeadOption.js
  client/web/example/src/img/desk_grey.svg
  client/web/example/src/img/meetingroom_grey.svg
  client/web/example/src/pages/BookingsDesk.js
  client/web/example/src/pages/CreateLayout.js
  client/web/example/src/pages/RolesEdit.js
  client/web/example/src/pages/TeamsEdit.js
  db/sql/mock/mock.sql
  db/sql/resource/resource.identifier.function.find.sql
  db/sql/resource/resource.identifier.function.remove.sql
  db/sql/resource/resource.identifier.function.store.sql
  db/sql/resource/resource.schema.sql
  go/api/data/resource.go
  go/api/endpoints/resource_test.go
Labels: priority:high, scope:client, scope:db, type:fix, type:feature

#275 🖥️(feature): Added initial permission configuration, user and roles
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/pages/Profile.js
  client/web/example/src/pages/ProfileConfiguration.js
  client/web/example/src/pages/RolesEdit.js
  client/web/example/src/pages/RolesPermissions.js
  client/web/example/src/pages/UsersEdit.js
  client/web/example/src/pages/UsersPermissions.js
  db/sql/booking/booking.schema.sql
  go/api/security/permission.go
Labels: priority:high, scope:api, scope:client, scope:db, type:feature

#279 🔀 (api/scheduler) merge Scheduler calling into develop
  go/api/scheduler/caller.go
  go/api/scheduler/data_reciever.go
  go/api/scheduler/data_retriever.go
  go/api/scheduler/example.json
  go/api/scheduler/logger.go
Labels: priority:high, scope:api, type:feature, scope:scheduler

#278 Merge client into develop
  .github/workflows/react.yml
  client/web/example/package-lock.json
  client/web/example/package.json
  client/web/example/src/App.js
  client/web/example/src/components/Role/RoleLeadOption.js
  client/web/example/src/components/Role/RoleUserList.js
  client/web/example/src/components/Role/UserRoleList.js
  client/web/example/src/components/Team/TeamLeadOption.js
  client/web/example/src/components/Team/TeamUserList.js
  client/web/example/src/components/Team/UserTeamList.js
  client/web/example/src/pages/Bookings.js
  client/web/example/src/pages/CreateLayout.js
  client/web/example/src/pages/Login.js
  client/web/example/src/pages/Profile.js
  client/web/example/src/pages/RolesPermissions.js
  client/web/example/src/pages/TeamsPermissions.js
  client/web/example/src/pages/UsersEdit.js
  client/web/example/src/pages/UsersPermissions.js
  client/web/example/src/store/appContext.js
Labels: priority:medium, scope:client, type:fix, type:feature

#282 Scheduler calling
  db/sql/mock/mock.sql
  go/api/scheduler/caller.go
  go/api/scheduler/caller_integration_test.go
  go/api/scheduler/data_retriever.go
  go/api/scheduler/data_retriever_test.go
  smart_scheduler/scheduler_endpoint.py
Labels: priority:high, scope:api, type:test, type:feature, scope:scheduler

#283 Merge client into develop
  client/web/example/package-lock.json
  client/web/example/src/components/Map/Desk.js
  client/web/example/src/pages/CreateLayout.js
Labels: priority:high, scope:client, type:feature

#285 ✨ (ui): Merge client into develop
  client/web/example/src/components/Map/Desk.js
  client/web/example/src/components/Map/MeetingRoom.js
  client/web/example/src/pages/CreateLayout.js
  go/api/data/resource.go
  go/api/endpoints/resource.go
Labels: priority:high, scope:client, type:feature

#287 🪄(ui): Added and tested user permissions
  client/web/example/src/pages/UsersPermissions.js
Labels: priority:high, scope:api, scope:client, scope:db, type:feature

#288 merge api branch into develop branch
  .env
  .gitignore
  client/web/example/src/App.js
  client/web/example/src/pages/Home.js
  client/web/example/src/pages/Login.js
  client/web/example/src/store/UserData.js
  client/web/example/src/store/flux.js
  client/web/example/src/store/protectedPage.js
  client/web/example/src/store/userContext.js
  docker-compose.yml
  google_api/login.json
  google_api/main.py
  google_api/requirements.txt
  run.sh
Labels: priority:medium, scope:api, type:architecture

#290 Fixing prev merge mistakes
  .env
  client/web/example/src/App.js
  client/web/example/src/pages/Home.js
  client/web/example/src/pages/Login.js
  client/web/example/src/pages/Profile.js
Labels: priority:high, scope:api, type:architecture

#291 :construction: (client) fixing react warning
  client/web/example/src/pages/Login.js
  go/api/redis/redis.go
  go/api/security/validate.go
Labels: priority:medium, scope:client, type:bug

#296 Meeting booking endpoint
  db/sql/booking/booking.meeting_room.function.find.sql
  db/sql/booking/booking.meeting_room.function.remove.sql
  db/sql/booking/booking.meeting_room.function.store.sql
  db/sql/mock/mock.sql
  db/sql/permission/permission.schema.sql
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/batch-booking.go
  go/api/data/booking.go
  go/api/endpoints/booking.go
Labels: priority:high, scope:api, scope:db, type:feature

#297 :art: (mock) Added admin login details
  db/sql/mock/mock.sql
Labels: priority:high, scope:db, type:feature

#298 Merge dev into api-dev branch
  db/sql/booking/booking.meeting_room.function.find.sql
  db/sql/booking/booking.meeting_room.function.remove.sql
  db/sql/booking/booking.meeting_room.function.store.sql
  db/sql/mock/mock.sql
  db/sql/permission/permission.schema.sql
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/batch-booking.go
  go/api/data/booking.go
  go/api/endpoints/booking.go
Labels: priority:high, scope:api, type:architecture

#299 🐛 (authentication) removing auth until bug fixed
  go/api/redis/redis.go
  go/api/security/validate.go
Labels: priority:high, scope:api, type:fix

#300 💄 (ui): Merge client into develop
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/img/building_add.svg
  client/web/example/src/img/building_edit.svg
  client/web/example/src/img/desk_white.svg
  client/web/example/src/img/meetingroom_white.svg
  client/web/example/src/img/room_add.svg
  client/web/example/src/img/room_edit.svg
  client/web/example/src/pages/CreateLayout.js
  client/web/example/src/pages/Login.js
  client/web/example/src/store/UserData.js
  client/web/example/src/store/protectedPage.js
  client/web/example/src/store/userContext.js
Labels: priority:high, scope:client, type:feature

#301 🪄(ui + backend): added and tested role permissions
  client/web/example/src/pages/ProfileConfiguration.js
  client/web/example/src/pages/RolesPermissions.js
  client/web/example/src/pages/UsersPermissions.js
  go/api/security/permission.go
  go/api/security/validate.go
Labels: priority:high, scope:api, scope:client, scope:db, type:feature

#302 :sparkles: :bug: (scheduler) Updated the scheduler to work with endpoints
  smart_scheduler/fitness.py
  smart_scheduler/room.py
  smart_scheduler/scheduler_endpoint.py
  smart_scheduler/smart_scheduler.py
Labels: priority:high, type:fix, type:feature, scope:scheduler

#304 :bug: (scheduler) Fixed format of bookings
  smart_scheduler/smart_scheduler.py
Labels: priority:high, type:bug, type:fix, scope:scheduler

#303 Scheduler invoker
  .env
  client/web/example/src/pages/BookingsMeeting.js
  db/sql/booking/booking.identifier.function.find.sql
  db/sql/booking/booking.identifier.function.remove.sql
  db/sql/booking/booking.identifier.function.store.sql
  db/sql/booking/booking.meeting_room.function.find.sql
  db/sql/booking/booking.schema.sql
  db/sql/mock/mock.sql
  go/api/data/booking.go
  go/api/endpoints/booking.go
  go/api/endpoints/scheduler-invoker.go
  go/api/endpoints/user.go
  go/api/main.go
  go/api/scheduler/caller.go
  go/api/scheduler/caller_test.go
  go/api/scheduler/data_reciever.go
  go/api/security/validate.go
Labels: priority:high, scope:api, type:feature, scope:scheduler

#305 :bug: (scheduler) fixed error with date format
  smart_scheduler/smart_scheduler.py
Labels: priority:high, type:bug, type:fix, scope:scheduler

#306 Api dev
  client/web/example/src/App.js
  client/web/example/src/components/Logout/LogoutButton.js
  client/web/example/src/components/Navbar/index.js
  client/web/example/src/pages/Home.js
  client/web/example/src/pages/Login.js
  client/web/example/src/pages/Profile.js
  client/web/example/src/store/ProtectedRoute.js
  client/web/example/src/store/protectedPage.js
  client/web/example/src/store/userContext.js
  go/api/data/user.go
  go/api/endpoints/user.go
  go/api/main.go
  go/api/redis/redis.go
  go/api/security/validate.go
Labels: priority:high, scope:api, scope:client, type:fix, type:feature

#307 Meeting booking endpoint
  client/web/example/src/pages/BookingsMeeting.js
  go/api/data/booking.go
  go/api/endpoints/booking.go
Labels: priority:high, scope:api, scope:client, type:fix, type:feature

#308 Api dev
  client/web/example/src/App.js
  client/web/example/src/components/BookingTicket/BookingTicket.js
  client/web/example/src/components/Profile/UserListItem.js
  client/web/example/src/pages/BookingsDesk.js
  client/web/example/src/pages/BookingsDeskEdit.js
  client/web/example/src/pages/BookingsMeeting.js
  client/web/example/src/pages/CreateLayout.js
  client/web/example/src/pages/Home.js
  client/web/example/src/pages/Login.js
  client/web/example/src/pages/Profile.js
  client/web/example/src/pages/ProfileConfiguration.js
  client/web/example/src/pages/Teams.js
  client/web/example/src/pages/TeamsCreate.js
  client/web/example/src/pages/Users.js
  client/web/example/src/pages/UsersEdit.js
  go/api/endpoints/user.go
  go/api/main.go
  go/api/redis/redis.go
  go/api/security/validate.go
Labels: priority:high, scope:api, scope:client, type:bug, type:fix

#310 Merge develop into client
  README.md
  client/web/example/src/App.js
  client/web/example/src/components/BookingTicket/BookingTicket.js
  client/web/example/src/components/Profile/UserListItem.js
  client/web/example/src/pages/BookingsDesk.js
  client/web/example/src/pages/BookingsDeskEdit.js
  client/web/example/src/pages/BookingsMeeting.js
  client/web/example/src/pages/CreateLayout.js
  client/web/example/src/pages/Home.js
  client/web/example/src/pages/Login.js
  client/web/example/src/pages/Profile.js
  client/web/example/src/pages/ProfileConfiguration.js
  client/web/example/src/pages/Teams.js
  client/web/example/src/pages/TeamsCreate.js
  client/web/example/src/pages/Users.js
  client/web/example/src/pages/UsersEdit.js
  go/api/endpoints/user.go
  go/api/main.go
  go/api/redis/redis.go
  go/api/security/validate.go
Labels: priority:high, scope:client, type:fix

#312 Merge develop into master
  client/web/example/src/App.css
  client/web/example/src/components/AdminCard/AdminCard.js
  client/web/example/src/components/Map/MeetingRoom.js
  client/web/example/src/img/meetingroom_img.svg
  client/web/example/src/pages/CreateLayout.js
  client/web/example/src/pages/Resources.js
Labels: priority:high, scope:client, type:fix, type:feature
