Repository COS301-SE-2022/Smart-Hybrid-Workforce-manager, pull requests merged in 2022-05, with the labels that each got.

#9 ⌨️(feature): Added User Registration
  .env
  ReadMe.md
  db/sql/initdb.sh
  db/sql/user/user.credential.function.authenticate.sql
  db/sql/user/user.credential.function.find.sql
  db/sql/user/user.credential.function.reset_secret.sql
  db/sql/user/user.credential.function.store.sql
  db/sql/user/user.identifier.function.find.sql
  db/sql/user/user.identifier.function.remove.sql
  db/sql/user/user.identifier.function.store.sql
  db/sql/user/user.schema.sql
  docker-compose.yml
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/ReadMe.md
  go/api/data/user.go
  go/api/db/db.go
  go/api/endpoints/user.go
  go/api/go.mod
  go/api/go.sum
  go/api/main.go
  go/api/utils/utils.go
  go/lib/go.mod
  go/lib/go.sum
Labels: priority:high, scope:api, scope:db, type:documentation, type:feature

#12 💄 (documentation) Changed readme formatting
  README.md
  ReadMe.md
Labels: priority:low, type:documentation

#13 💄 (documentation) Changed readme formatting
  README.md
Labels: priority:low, type:documentation

#24 ⌨️(feature): Added Team Registration Backend
  db/sql/initdb.sh
  db/sql/team/team.identifier.function.create.sql
  db/sql/team/team.identifier.function.find.sql
  db/sql/team/team.identifier.function.remove.sql
  db/sql/team/team.schema.sql
  db/sql/user/user.schema.sql
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/team.go
  go/api/data/user.go
  go/api/endpoints/team.go
  go/api/endpoints/user.go
  go/api/main.go
Labels: priority:high, scope:api, scope:db, type:feature

#36 🗃(db): Finished Team Schema
  db/sql/initdb.sh
  db/sql/team/team.association.function.find.sql
  db/sql/team/team.association.function.remove.sql
  db/sql/team/team.association.function.store.sql
  db/sql/team/team.schema.sql
  db/sql/team/team.user.function.find.sql
  db/sql/team/team.user.function.remove.sql
  db/sql/team/team.user.function.store.sql
  db/sql/user/user.schema.sql
Labels: priority:high, scope:db, type:feature

#37 🗃(db): Added Role and Permission Schemas
  db/sql/initdb.sh
  db/sql/permission/permission.role.function.find.sql
  db/sql/permission/permission.role.function.remove.sql
  db/sql/permission/permission.role.function.store.sql
  db/sql/permission/permission.schema.sql
  db/sql/permission/permission.user.function.find.sql
  db/sql/permission/permission.user.function.remove.sql
  db/sql/permission/permission.user.function.store.sql
  db/sql/role/role.identifier.function.find.sql
  db/sql/role/role.identifier.function.remove.sql
  db/sql/role/role.identifier.function.store.sql
  db/sql/role/role.schema.sql
  db/sql/role/role.user.function.find.sql
  db/sql/role/role.user.function.remove.sql
  db/sql/role/role.user.function.store.sql
Labels: priority:high, scope:db, type:feature

#38 🗃(db): Added Booking and Resource Schema
  db/sql/booking/booking.identifier.function.find.sql
  db/sql/booking/booking.identifier.function.remove.sql
  db/sql/booking/booking.identifier.function.store.sql
  db/sql/booking/booking.schema.sql
  db/sql/example/example.function.example.sql
  db/sql/example/example.schema.example.sql
  db/sql/initdb.sh
  db/sql/resource/resource.identifier.function.find.sql
  db/sql/resource/resource.identifier.function.remove.sql
  db/sql/resource/resource.identifier.function.store.sql
  db/sql/resource/resource.schema.sql
Labels: priority:high, scope:db, type:feature

#41 🗃(db): Added Resource and Booking creation
  db/sql/booking/booking.identifier.function.store.sql
  db/sql/booking/booking.schema.sql
  db/sql/resource/resource.identifier.function.create.sql
  db/sql/resource/resource.identifier.function.store.sql
Labels: priority:high, scope:db, type:feature

#44 🗃(db): Added Booking Find and Mock Data Generation
  db/sql/booking/booking.identifier.function.find.sql
  db/sql/initdb.sh
  db/sql/mock/mock.sql
  db/sql/user/user.identifier.function.find.sql
Labels: priority:high, scope:db, type:feature

#48 🗃(db+api): Added Team Functions, generally refined functions
  db/sql/booking/booking.identifier.function.find.sql
  db/sql/booking/booking.identifier.function.remove.sql
  db/sql/booking/booking.identifier.function.store.sql
  db/sql/booking/booking.schema.sql
  db/sql/mock/mock.sql
  db/sql/resource/resource.identifier.function.create.sql
  db/sql/resource/resource.identifier.function.find.sql
  db/sql/resource/resource.identifier.function.remove.sql
  db/sql/resource/resource.identifier.function.store.sql
  db/sql/team/team.identifier.function.create.sql
  db/sql/team/team.identifier.function.store.sql
  db/sql/team/team.schema.sql
  db/sql/user/user.identifier.function.store.sql
  go/api/data/team.go
  go/api/data/user.go
  go/api/endpoints/user.go
Labels: priority:high, scope:db, type:feature

#53 🗃(db): Added Store and Find Functions
  db/sql/mock/mock.sql
  db/sql/permission/permission.role.function.find.sql
  db/sql/permission/permission.role.function.store.sql
  db/sql/permission/permission.user.function.find.sql
  db/sql/permission/permission.user.function.store.sql
  db/sql/resource/resource.identifier.function.find.sql
  db/sql/role/role.identifier.function.find.sql
  db/sql/role/role.identifier.function.store.sql
  db/sql/role/role.user.function.find.sql
  db/sql/role/role.user.function.store.sql
  db/sql/team/team.association.function.find.sql
  db/sql/team/team.association.function.store.sql
  db/sql/team/team.identifier.function.find.sql
  db/sql/team/team.user.function.find.sql
  db/sql/team/team.user.function.store.sql
  db/sql/user/user.credential.function.find.sql
  db/sql/user/user.identifier.function.find.sql
Labels: priority:high, scope:db, type:feature

#54 🔧 (config) Added .gitattributes to the repo
  .gitattributes
Labels: priority:low, type:architecture

#56 📻(api): Added Create Booking endpoint
  db/sql/team/team.identifier.function.find.sql
  db/sql/user/user.identifier.function.find.sql
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/booking.go
  go/api/data/user.go
  go/api/endpoints/booking.go
  go/api/endpoints/user.go
  go/api/main.go
Labels: priority:high, scope:db, type:feature

#61 :lipstick: (ui): Merge the Bookings page
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/components/Header.js
  client/web/example/src/components/Navbar/NavbarElements.js
  client/web/example/src/components/Navbar/index.js
  client/web/example/src/pages/Bookings.js
  client/web/example/src/pages/Home.js
  client/web/example/src/pages/Meetings.js
  client/web/example/src/pages/Teams.js
Labels: priority:high, scope:client, type:feature

#66 🏗️ (api): Added README containing architecture and blank test files
  go/README.md
  go/api/data/booking_test.go
  go/api/data/team_test.go
  go/api/data/user_test.go
  go/api/endpoints/booking_test.go
  go/api/endpoints/team_test.go
  go/api/endpoints/user_test.go
  go/api/utils/utils_test.go
Labels: priority:low, scope:api, type:test, type:architecture

#65 :lipstick: (ui): Merge animations and routing to Bookings page
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/components/Header.js
  client/web/example/src/pages/Bookings.js
Labels: priority:high, scope:client, type:feature

#78 💄 (ui): Merge login, signup and team creation page
  client/web/example/package-lock.json
  client/web/example/package.json
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/components/Footer/index.js
  client/web/example/src/components/Header.js
  client/web/example/src/components/Navbar/NavbarElements.js
  client/web/example/src/components/Navbar/index.js
  client/web/example/src/pages/Bookings.js
  client/web/example/src/pages/BookingsDesk.js
  client/web/example/src/pages/Home.js
  client/web/example/src/pages/Login.js
  client/web/example/src/pages/Signup.js
  client/web/example/src/pages/Teams.js
Labels: priority:high, scope:client, type:feature

#80 ✅(api): udpated tests for utils
  go/api/utils/utils_test.go
  go/lib/testutils/testutils.go
  go/lib/testutils/testutils_test.go
Labels: priority:medium, scope:api, type:test

#79 👷 (cicd) Added multiple workflows
  .github/workflows/go.yml
  .github/workflows/metatestPullRequest.yml
Labels: priority:medium, type:feature, type:architecture, scope:cicd

#84 📻(api): Added Find Booking endpoint and other mock endpoints
  db/sql/permission/permission.schema.sql
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  documentation/api/contract.md
  go/api/data/booking.go
  go/api/data/resource.go
  go/api/data/team.go
  go/api/endpoints/booking.go
  go/api/endpoints/resource.go
  go/api/endpoints/team.go
  go/api/endpoints/user.go
  go/api/main.go
  go/api/utils/utils.go
Labels: priority:high, scope:api, type:feature

#82 ✅ (api) All tests completed for api/utils
  go/api/utils/utils_test.go
Labels: priority:medium, scope:api, type:test

#86 📻(api): Added Find Team Endpoint
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/team.go
  go/api/endpoints/team.go
Labels: priority:high, scope:api, type:feature

#87 :wrench: (cicd) Updated line endings in .gitattributes
  .gitattributes
Labels: priority:low, type:fix, scope:cicd

#91 ✨ (ui): Merge the functionality for signup, create booking and create team
  client/web/example/src/App.css
  client/web/example/src/pages/Bookings.js
  client/web/example/src/pages/Signup.js
  client/web/example/src/pages/Teams.js
Labels: priority:high, scope:client, type:feature

#92 ✅ (client) Updated App.test.js to pass, also updated dependencies needed by jest
  client/web/example/package-lock.json
  client/web/example/package.json
  client/web/example/src/App.test.js
Labels: priority:high, scope:client, type:test

#96 👷 (cicd) Various workflow changes and additions
  .github/workflows/deploy.yml
  .github/workflows/go.yml
  .github/workflows/react.yml
Labels: priority:high, type:fix, type:architecture, scope:cicd

#99 ✅(api): Added test for bookings.InformationBookingHandler
  client/web/example/src/App.test.js
  go/api/endpoints/booking_test.go
Labels: priority:medium, scope:api, type:test

#100 :construction: (api) Created endpoints for api
  documentation/api/contract.md
  go/api/data/resource.go
  go/api/data/user.go
  go/api/endpoints/booking.go
  go/api/endpoints/permission.go
  go/api/endpoints/resource.go
  go/api/endpoints/role.go
  go/api/endpoints/team.go
  go/api/endpoints/user.go
  go/api/main.go
Labels: priority:high, scope:api, type:documentation, type:feature

#102 :bug: (cicd) Fixed never ending build
  .github/workflows/deploy.yml
Labels: priority:high, type:bug, type:architecture, scope:cicd

#111 📻(api): Added permission endpoints and updated booking endpoint
  client/web/example/src/pages/BookingsDesk.js
  client/web/example/src/pages/BookingsMeeting.js
  db/sql/booking/booking.identifier.function.find.sql
  db/sql/booking/booking.identifier.function.remove.sql
  db/sql/booking/booking.identifier.function.store.sql
  db/sql/booking/booking.schema.sql
  db/sql/mock/mock.sql
  db/sql/permission/permission.role.function.remove.sql
  db/sql/permission/permission.role.function.store.sql
  db/sql/permission/permission.user.function.remove.sql
  db/sql/permission/permission.user.function.store.sql
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/booking.go
  go/api/data/permission.go
  go/api/data/user.go
  go/api/endpoints/booking.go
  go/api/endpoints/permission.go
Labels: priority:high, scope:api, scope:db, type:feature

#116 🗃(db): Updated Remove Functions
  db/sql/role/role.identifier.function.remove.sql
  db/sql/role/role.user.function.remove.sql
  db/sql/team/team.association.function.remove.sql
  db/sql/team/team.identifier.function.remove.sql
  db/sql/team/team.user.function.remove.sql
  db/sql/user/user.credential.function.remove.sql
  db/sql/user/user.identifier.function.remove.sql
Labels: priority:high, scope:db, type:refactor, type:feature

#119 📻(api): Added Resource endpoints
  db/sql/mock/mock.sql
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/resource.go
  go/api/endpoints/booking.go
  go/api/endpoints/permission.go
  go/api/endpoints/resource.go
  go/api/endpoints/resource_test.go
Labels: priority:high, scope:api, type:feature

#122 📻(api): Added Team and Role endpoints
  db/sql/team/team.identifier.function.remove.sql
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/booking.go
  go/api/data/permission.go
  go/api/data/resource.go
  go/api/data/role.go
  go/api/data/team.go
  go/api/endpoints/role.go
  go/api/endpoints/team.go
Labels: priority:high, scope:api, type:feature

#129 :rocket: (api) Added redis docker image
  documentation/api/contract.md
Labels: priority:medium, scope:api, scope:db, type:architecture

#130 🐛 (api) Fixed redis image issue
  docker-compose.yml
  redis/Dockerfile
  redis/README.md
Labels: priority:high, scope:api, type:feature, type:architecture

#139 🔒(security): Added permissions and roles
  db/sql/booking/booking.identifier.function.find.sql
  db/sql/mock/mock.sql
  db/sql/permission/permission.role.function.find.sql
  db/sql/permission/permission.role.function.remove.sql
  db/sql/permission/permission.role.function.store.sql
  db/sql/permission/permission.schema.sql
  db/sql/permission/permission.user.function.find.sql
  db/sql/permission/permission.user.function.remove.sql
  db/sql/permission/permission.user.function.store.sql
  db/sql/resource/resource.building.function.find.sql
  db/sql/resource/resource.identifier.function.find.sql
  db/sql/resource/resource.identifier.function.store.sql
  db/sql/resource/resource.room.association.function.find.sql
  db/sql/resource/resource.room.function.find.sql
  db/sql/role/role.identifier.function.find.sql
  db/sql/role/role.user.function.find.sql
  db/sql/team/team.association.function.find.sql
  db/sql/team/team.identifier.function.find.sql
  db/sql/team/team.user.function.find.sql
  db/sql/user/user.identifier.function.store.sql
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/booking.go
  go/api/data/common.go
  go/api/data/permission.go
  go/api/data/resource.go
  go/api/data/role.go
  go/api/data/team.go
  go/api/data/user.go
  go/api/endpoints/booking.go
  go/api/endpoints/booking_test.go
  go/api/endpoints/permission.go
  go/api/endpoints/resource.go
  go/api/endpoints/role.go
  go/api/endpoints/team.go
  go/api/endpoints/user.go
  go/api/security/permission.go
  go/api/security/validate.go
  go/api/utils/utils.go
Labels: priority:high, scope:api, scope:db, type:feature

#141 Dockertest archi
  go/api/db/db_test.go
  go/api/go.mod
  go/api/go.sum
  go/lib/dockertest_db/testdb.go
  go/lib/dockertest_db/testdb_example_test.go
  go/lib/go.mod
  go/lib/go.sum
Labels: priority:medium, scope:api, scope:db, type:test, type:architecture

#143 ✨ (testing) Added a method for migrating db to test db
  db/migrate/000001_archebackup.up.sql
  go/api/go.mod
  go/api/go.sum
  go/lib/dbmigrate/dbmigrate.go
  go/lib/dbmigrate/dbmigrate_example_test.go
  go/lib/go.mod
  go/lib/go.sum
Labels: priority:medium, scope:api, scope:db, type:test

#147 ✨ (testing) Added auto migration
  go/lib/dbmigrate/dbmigrate.go
  go/lib/dbmigrate/dbmigrate_example_test.go
Labels: priority:medium, scope:api, scope:db, type:test, type:feature

#152 :sparkles: (api) Redis setup complete
  docker-compose.yml
  go/api/go.mod
  go/api/go.sum
  go/api/main.go
  go/api/security/redis.go
Labels: priority:high, scope:api, scope:db, type:architecture

#154 :bug: (api) fixed build issue
  go/api/go.mod
  go/api/go.sum
  go/lib/go.mod
  go/lib/go.sum
Labels: priority:low, scope:api, type:bug

#155 ✨ (testing) Added method to clear/reset a db
  go/lib/dbmigrate/dbmigrate.go
  go/lib/dbmigrate/dbmigrate_example_test.go
Labels: priority:medium, scope:api, scope:db, type:test

#161 ✨ (ui): Added the email notifications endpoints, struct and frontend functionality
  .env
  client/web/example/Dockerfile
  client/web/example/package-lock.json
  client/web/example/package.json
  client/web/example/src/App.css
  client/web/example/src/components/BookingCard/BookingCard.js
  client/web/example/src/components/BookingTicket/BookingTicket.js
  client/web/example/src/pages/Bookings.js
  client/web/example/src/pages/BookingsDesk.js
  client/web/example/src/pages/BookingsMeeting.js
  client/web/example/src/pages/Home.js
  docker-compose.yml
  go/api/Dockerfile
  go/api/data/notification.go
  go/api/endpoints/notification.go
  go/api/main.go
  redis/dump.rdb
Labels: priority:high, scope:api, scope:client, type:fix, type:feature
