Repository COS301-SE-2022/Smart-Hybrid-Workforce-manager, pull requests merged in 2022-08, with the labels that each got.

#313 merge dev into api-dev
  README.md
  client/web/example/src/App.css
  client/web/example/src/components/AdminCard/AdminCard.js
  client/web/example/src/components/Map/MeetingRoom.js
  client/web/example/src/img/meetingroom_img.svg
  client/web/example/src/pages/BookingsDesk.js
  client/web/example/src/pages/BookingsMeeting.js
  client/web/example/src/pages/CreateLayout.js
  client/web/example/src/pages/Home.js
  client/web/example/src/pages/Resources.js
  client/web/example/src/pages/Teams.js
  client/web/example/src/pages/TeamsCreate.js
  client/web/example/src/pages/Users.js
  client/web/example/src/pages/UsersEdit.js
  go/api/data/booking.go
  go/api/endpoints/booking.go
  go/api/security/validate.go
Labels: priority:high, scope:api, type:architecture

#314 Merge Develop into Client
  README.md
  client/web/example/src/pages/BookingsDesk.js
  client/web/example/src/pages/BookingsMeeting.js
  client/web/example/src/pages/Home.js
Labels: priority:low, scope:client, type:feature

#323 Merge Develop into API-Dev
  .env
  docker-compose.yml
  go.mod
  go/api/endpoints/batch-booking.go
  go/api/endpoints/booking.go
  go/api/endpoints/booking_test.go
  go/api/endpoints/notification.go
  go/api/endpoints/permission.go
  go/api/endpoints/resource.go
  go/api/endpoints/role.go
  go/api/endpoints/scheduler-invoker.go
  go/api/endpoints/team.go
  go/api/endpoints/user.go
  go/api/scheduler/caller.go
  go/api/security/validate.go
  go/lib/utils/utils.go
  go/lib/utils/utils_test.go
  go/scheduler/Dockerfile
  go/scheduler/config.json
  go/scheduler/data/data.go
  go/scheduler/endpoints/scheduler.go
  go/scheduler/go.mod
  go/scheduler/go.sum
  go/scheduler/main.go
Labels: priority:medium, scope:api, type:feature
