Repository COS301-SE-2022/Smart-Hybrid-Workforce-manager, pull requests merged in 2022-06, with the labels that each got.

#165 ✨(api) Added BatchBooking endpoints
  .gitignore
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/batch-booking.go
  go/api/endpoints/batch-booking.go
  go/api/endpoints/batch-booking_test.go
  go/api/main.go
Labels: priority:high, scope:api, type:documentation, type:feature

#177 ✨🚧 (scheduler) Multiple scheduer changes and additions
  docker-compose.yml
  smart_scheduler/Dockerfile
  smart_scheduler/requirements.txt
  smart_scheduler/smart_scheduler.py
Labels: priority:medium, scope:db, type:fix, type:feature

#185 :card_file_box: (db): Implemented metadata for users and decorations for resources schemas
  client/web/example/src/pages/ResourcesDeskCreate.js
  db/sql/mock/mock.sql
  db/sql/resource/resource.identifier.function.find.sql
  db/sql/resource/resource.identifier.function.remove.sql
  db/sql/resource/resource.identifier.function.store.sql
  db/sql/resource/resource.schema.sql
  db/sql/user/user.identifier.function.find.sql
  db/sql/user/user.identifier.function.store.sql
  db/sql/user/user.schema.sql
  go/api/data/resource.go
  go/api/data/user.go
Labels: priority:high, scope:api, scope:db, type:refactor, type:feature

#189 ✨ (scheduler) Add classes for data access for for scheduler
  .gitignore
  db/sql/mock/mock.sql
  smart_scheduler/booking.py
  smart_scheduler/resource.py
  smart_scheduler/role.py
  smart_scheduler/teams.py
  smart_scheduler/test_booking.py
  smart_scheduler/user.py
Labels: priority:high, scope:api, type:feature, scope:scheduler

#190 merge "api" branch into "develop" branch
  client/web/example/src/pages/Login.js
  docker-compose.yml
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/user.go
  go/api/endpoints/user.go
  go/api/main.go
  go/api/redis/redis.go
  go/api/redis/redist_test.go
  go/api/security/permission.go
  go/api/security/redis.go
  redis/Dockerfile
  redis/dump.rdb
Labels: priority:medium, scope:api, type:feature

#191 merge "develop" branch into "client" branch
  .gitignore
  client/web/example/src/pages/Login.js
  db/sql/mock/mock.sql
  docker-compose.yml
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  go/api/data/user.go
  go/api/endpoints/user.go
  go/api/main.go
  go/api/redis/redis.go
  go/api/redis/redist_test.go
  go/api/security/permission.go
  go/api/security/redis.go
  redis/Dockerfile
  redis/dump.rdb
  smart_scheduler/booking.py
  smart_scheduler/resource.py
  smart_scheduler/role.py
  smart_scheduler/teams.py
  smart_scheduler/test_booking.py
  smart_scheduler/user.py
Labels: priority:medium, scope:client

#193 merge "client" branch into "development"
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/components/Permission/PermissionUser.js
  client/web/example/src/components/Profile/UserListItem.js
  client/web/example/src/components/Role/RoleUserList.js
  client/web/example/src/components/Team/TeamUserList.js
  client/web/example/src/lib/contextLib.js
  client/web/example/src/pages/Login.js
  client/web/example/src/pages/Profile.js
  client/web/example/src/pages/Users.js
  client/web/example/src/pages/UsersCreate.js
  client/web/example/src/pages/UsersEdit.js
Labels: priority:high, scope:client, type:bug

#192 🎨 (scheduler) Changed example for booking fetch
  smart_scheduler/booking.py
Labels: priority:low, scope:api, type:refactor, type:feature, scope:scheduler

#194 :sparkles: (ui) started adding sessions
  client/web/example/src/App.js
  client/web/example/src/libs/contextLib.js
  client/web/example/src/pages/Login.js
Labels: priority:low, scope:client, type:feature

#195 merge "develop" branch into "api" branch
  .env
  .gitignore
  client/web/example/src/App.js
  client/web/example/src/libs/contextLib.js
  client/web/example/src/pages/Login.js
  db/sql/mock/mock.sql
  smart_scheduler/booking.py
  smart_scheduler/resource.py
  smart_scheduler/role.py
  smart_scheduler/teams.py
  smart_scheduler/test_booking.py
  smart_scheduler/user.py
Labels: priority:high, scope:api, type:bug

#197 :white_check_mark: (cicd) Added scheduler scope to the metatests
  .github/workflows/metatestPullRequest.yml
Labels: priority:medium, type:test, scope:cicd

#207 🗳(tests): Added utils unit tests
  go/api/utils/utils.go
  go/api/utils/utils_test.go
Labels: priority:high, scope:api, type:test

#210 ✨ (api): Added the user create and remove endpoints
  db/sql/user/user.identifier.function.remove.sql
  go/api/data/user.go
  go/api/endpoints/user.go
Labels: priority:high, scope:api, type:feature

#212 Merge "develop" into "api"
  .gitignore
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/components/Profile/UserListItem.js
  client/web/example/src/components/Role/RoleUserList.js
  client/web/example/src/components/Team/TeamUserList.js
  client/web/example/src/pages/Profile.js
  client/web/example/src/pages/ProfileConfiguration.js
  client/web/example/src/pages/Users.js
  client/web/example/src/pages/UsersCreate.js
  client/web/example/src/pages/UsersEdit.js
  go/api/utils/utils.go
  go/api/utils/utils_test.go
  redis/dump.rdb
Labels: priority:low, scope:api, type:feature

#214 ✨ (scheduler) Added room class
  smart_scheduler/room.py
Labels: priority:high, scope:api, type:feature, scope:scheduler

#216 merge "api" branch into "develop" branch
  client/web/example/src/pages/Login.js
  go/api/endpoints/user.go
  go/api/redis/redis.go
  go/api/security/validate.go
Labels: priority:medium, scope:api, type:feature

#217 :sparkles: :construction: (scheduler) Added initial scheduler logic
  smart_scheduler/room.py
  smart_scheduler/smart_scheduler.py
  smart_scheduler/user.py
Labels: priority:high, type:feature, scope:scheduler

#218 :art: (scheduler) Improved code structure and removed commented out code
  smart_scheduler/smart_scheduler.py
Labels: priority:low, type:refactor, type:feature, scope:scheduler

#220 ✨ (scheduler) Added endpoint for scheduler
  smart_scheduler/Dockerfile
  smart_scheduler/requirements.txt
  smart_scheduler/scheduler_endpoint.py
  smart_scheduler/smart_scheduler.py
Labels: priority:high, type:feature, scope:scheduler

#221 ✈️ (tests): Added user endpoint tests
  go/api/db/db_test.go
  go/api/endpoints/resource_test.go
  go/api/endpoints/team_test.go
Labels: priority:medium, scope:api, type:test

#224 merge "develop" branch into "api" branch
  README.md
  client/web/example/src/components/Role/RoleUserList.js
  client/web/example/src/components/Team/TeamUserList.js
  client/web/example/src/pages/ResourcesMeetingRoomCreate.js
  docker-compose.yml
  go/api/db/db_test.go
  go/api/endpoints/booking_test.go
  go/api/endpoints/resource_test.go
  go/api/endpoints/team_test.go
  go/api/endpoints/user_test.go
  go/api/go.mod
  go/api/go.sum
  go/api/security/validate.go
  smart_scheduler/Dockerfile
  smart_scheduler/requirements.txt
  smart_scheduler/room.py
  smart_scheduler/scheduler_endpoint.py
  smart_scheduler/smart_scheduler.py
  smart_scheduler/user.py
Labels: priority:medium, scope:api, type:fix
