Repository COS301-SE-2022/Smart-Hybrid-Workforce-manager, pull requests merged in 2022-09, with the labels that each got.

#326 🎺(api+db): Added x, y, z coords to rooms
  db/sql/mock/mock.sql
  db/sql/resource/resource.room.function.find.sql
  db/sql/resource/resource.room.function.store.sql
  db/sql/resource/resource.schema.sql
  go/api/data/resource.go
  go/scheduler/data/data.go
Labels: priority:high, scope:api, scope:db, type:fix, type:feature

#336 🕰(scheduler): Added Weekly Scheduler Implementation
  .env
  db/sql/booking/booking.identifier.function.find.sql
  db/sql/booking/booking.identifier.function.store.sql
  db/sql/booking/booking.schema.sql
  db/sql/mock/arche-dump-mock-data.sql
  db/sql/mock/mock.sql
  go/api/data/booking.go
  go/api/endpoints/booking.go
  go/api/endpoints/scheduler-invoker.go
  go/api/endpoints/user.go
  go/api/scheduler/caller.go
  go/api/scheduler/data_retriever.go
  go/lib/collectionutils/sliceutils.go
  go/lib/utils/utils.go
  go/scheduler/config.json
  go/scheduler/data/data.go
  go/scheduler/endpoints/scheduler.go
  go/scheduler/ga/crossover.go
  go/scheduler/ga/fitness.go
  go/scheduler/ga/ga.go
  go/scheduler/ga/mutate.go
  go/scheduler/ga/popgen.go
  go/scheduler/ga/selection.go
  go/scheduler/ga/validate.go
Labels: priority:high, type:feature, scope:scheduler

#341 🕰(scheduler): Added daily scheduler architecture, population generation and mutate function
  .env
  db/sql/mock/arche-dump-mock-data.sql
  go/api/endpoints/scheduler-invoker.go
  go/api/scheduler/caller.go
  go/api/scheduler/caller_command.go
  go/api/scheduler/caller_test.go
  go/scheduler/data/data.go
  go/scheduler/endpoints/scheduler.go
  go/scheduler/ga/crossover.go
  go/scheduler/ga/fitness.go
  go/scheduler/ga/ga.go
  go/scheduler/ga/mutate.go
  go/scheduler/ga/popgen.go
  go/scheduler/ga/selection.go
  go/scheduler/ga/validate.go
  python/mockdatapool.json
Labels: priority:high, type:feature, scope:scheduler

#348 ✨ Updates to scheduler + new mock data
  db/sql/mock/arche-dump-mock-data.sql
  db/sql/mock/arche-mock-v2.sql
  db/sql/mock/mock.sql
  go/scheduler/endpoints/scheduler.go
  go/scheduler/ga/ga.go
  go/scheduler/ga/mutate.go
  go/scheduler/ga/popgen.go
  go/scheduler/ga/validate.go
Labels: priority:medium, scope:db, type:fix, type:feature, type:architecture, scope:scheduler

#350 🕰(scheduler): Daily scheduler hooked up to pipe
  go/scheduler/data/data.go
  go/scheduler/endpoints/scheduler.go
  go/scheduler/ga/ga.go
  go/scheduler/overseer/overseer.go
Labels: priority:high, type:feature, scope:scheduler

#351 Merge Client into Develop
  client/web/example/src/App.js
  client/web/example/src/components/BookingTicket/BookingTicket.js
  client/web/example/src/pages/Home.js
  client/web/example/src/pages/Map.js
Labels: priority:high, scope:client, type:bug

#353 🗃️ (testing/db) Added utilization statistics function
  client/web/example/src/components/Navbar/__test__/Navbar.test.js
  db/sql/statistics/statistics.function.utilisation.sql
  db/sql/statistics/statistics.schema.sql
  go/api/endpoints/role_test.go
Labels: priority:low, scope:db, type:test, type:feature

#354 ✅ (testing/client) Added tests for AdminCard, LogoutButton and Navbar components
  client/web/example/src/components/AdminCard/AdminCard.js
  client/web/example/src/components/AdminCard/__test__/AdminCard.test.js
  client/web/example/src/components/Logout/LogoutButton.js
  client/web/example/src/components/Logout/__test__/LogoutButton.test.js
  client/web/example/src/components/Navbar/ProfileBar.js
  client/web/example/src/components/Navbar/__test__/Navbar.test.js
  client/web/example/src/components/Navbar/__test__/ProfileBar.test.js
  client/web/example/src/setupTests.js
Labels: priority:medium, scope:client, type:test

#355 Scheduler
  docker-compose.backend.yml
  go/api/Dockerfile
  go/api/endpoints/notification.go
  go/api/go.mod
  go/api/go.sum
  go/api/main.go
  go/lib/collectionutils/maputils.go
  go/lib/collectionutils/maputils_test.go
  go/lib/collectionutils/sliceutils.go
  go/lib/collectionutils/sliceutils_test.go
  go/lib/go.mod
  go/lib/go.sum
  go/lib/testutils/testutils.go
  go/lib/testutils/testutils_test.go
  go/lib/utils/utils.go
  go/scheduler/Dockerfile
  go/scheduler/data/data.go
  go/scheduler/data/data_test.go
  go/scheduler/endpoints/scheduler.go
  go/scheduler/ga/crossover.go
  go/scheduler/ga/crossover_test.go
  go/scheduler/ga/domain.go
  go/scheduler/ga/domain_test.go
  go/scheduler/ga/fitness.go
  go/scheduler/ga/fitness_test.go
  go/scheduler/ga/ga.go
  go/scheduler/ga/ga_test.go
  go/scheduler/ga/mutate.go
  go/scheduler/ga/mutate_test.go
  go/scheduler/ga/popgen.go
  go/scheduler/ga/popgen_test.go
  go/scheduler/ga/selection.go
  go/scheduler/go.mod
  go/scheduler/go.sum
  go/scheduler/main.go
  go/scheduler/overseer/overseer.go
Labels: priority:high, type:feature, scope:scheduler

#361 :bug: (testing) Fixed failing tests
  client/web/example/src/__test__/Login.test.js
  client/web/example/src/components/AdminCard/__test__/AdminCard.test.js
  client/web/example/src/components/Navbar/__test__/Navbar.test.js
  client/web/example/src/components/Profile/UserListItem.js
  client/web/example/src/components/Profile/__test__/UserListItem.test.js
  db/sql/initdb.sh
  db/sql/statistics/statistics.schema.sql
  go/api/data/statistics.go
  go/api/endpoints/statistics.go
  go/api/endpoints/team.go
  go/api/main.go
Labels: priority:high, scope:client, type:test

#363 🩹(fix): Double booking logic
  client/web/example/src/components/BookingForm/DeskBooking.js
  go/api/endpoints/booking.go
Labels: priority:high, scope:api, scope:client, type:fix

#364 Merge Client into Develop
  client/web/example/package-lock.json
  client/web/example/package.json
  client/web/example/src/components/Kanban/Kanban.js
  client/web/example/src/components/Team/EditTeam.js
  client/web/example/src/components/Team/team.module.css
  client/web/example/src/firebase.js
  client/web/example/src/pages/Profile.js
  client/web/example/src/pages/ProfileConfiguration.js
  db/sql/initdb.sh
  db/sql/mock/arche-mock-v2.sql
  db/sql/resource/resource.identifier.function.find.sql
  db/sql/resource/resource.identifier.function.remove.sql
  db/sql/resource/resource.identifier.function.store.sql
  db/sql/resource/resource.schema.sql
  db/sql/role/role.identifier.function.find.sql
  db/sql/role/role.identifier.function.remove.sql
  db/sql/role/role.identifier.function.store.sql
  db/sql/role/role.schema.sql
  db/sql/team/team.identifier.function.find.sql
  db/sql/team/team.identifier.function.remove.sql
  db/sql/team/team.identifier.function.store.sql
  db/sql/team/team.schema.sql
  db/sql/user/user.identifier.function.find.sql
  db/sql/user/user.identifier.function.remove.sql
  db/sql/user/user.identifier.function.store.sql
  db/sql/user/user.schema.sql
  go/api/data/resource.go
  go/api/data/role.go
  go/api/data/team.go
  go/api/data/user.go
  go/api/endpoints/role_test.go
  go/api/endpoints/team_test.go
  go/api/endpoints/user.go
Labels: priority:high, scope:api, scope:client, scope:db, type:refractor, type:fix, type:feature

#365 Merge develop into api-dev branch
  client/web/example/package-lock.json
  client/web/example/package.json
  client/web/example/src/App.css
  client/web/example/src/__test__/Login.test.js
  client/web/example/src/components/AdminCard/__test__/AdminCard.test.js
  client/web/example/src/components/BookingForm/DeskBooking.js
  client/web/example/src/components/Kanban/Kanban.js
  client/web/example/src/components/Navbar/__test__/Navbar.test.js
  client/web/example/src/components/Profile/UserListItem.js
  client/web/example/src/components/Profile/__test__/UserListItem.test.js
  client/web/example/src/components/Team/EditTeam.js
  client/web/example/src/components/Team/team.module.css
  client/web/example/src/components/User/EditUser.js
  client/web/example/src/firebase.js
  client/web/example/src/pages/CreateLayout.js
  client/web/example/src/pages/Profile.js
  client/web/example/src/pages/ProfileConfiguration.js
  db/sql/initdb.sh
  db/sql/mock/arche-mock-v2.sql
  db/sql/resource/resource.identifier.function.find.sql
  db/sql/resource/resource.identifier.function.remove.sql
  db/sql/resource/resource.identifier.function.store.sql
  db/sql/resource/resource.schema.sql
  db/sql/role/role.identifier.function.find.sql
  db/sql/role/role.identifier.function.remove.sql
  db/sql/role/role.identifier.function.store.sql
  db/sql/role/role.schema.sql
  db/sql/statistics/statistics.schema.sql
  db/sql/team/team.identifier.function.find.sql
  db/sql/team/team.identifier.function.remove.sql
  db/sql/team/team.identifier.function.store.sql
  db/sql/team/team.schema.sql
  db/sql/user/user.identifier.function.find.sql
  db/sql/user/user.identifier.function.remove.sql
  db/sql/user/user.identifier.function.store.sql
  db/sql/user/user.schema.sql
  go/api/data/resource.go
  go/api/data/role.go
  go/api/data/statistics.go
  go/api/data/team.go
  go/api/data/user.go
  go/api/endpoints/booking.go
  go/api/endpoints/role_test.go
  go/api/endpoints/scheduler-invoker.go
  go/api/endpoints/statistics.go
  go/api/endpoints/team.go
  go/api/endpoints/team_test.go
  go/api/endpoints/user.go
  go/api/main.go
  go/scheduler/ga/fitness.go
  go/scheduler/ga/fitness_test.go
  go/scheduler/ga/ga.go
  go/scheduler/overseer/overseer.go
Labels: priority:high, scope:api, type:refractor

#366 ✨ (api/scheduler) Added schedulerData to makeBookings
  go/api/scheduler/caller.go
  go/api/scheduler/data_reciever.go
Labels: priority:medium, scope:api, type:feature, scope:scheduler

#367 Merge api-dev into develop
  google_api/google_api/calendar.go
  google_api/google_api/go.mod
  google_api/google_api/go.sum
  google_api/main.py
  setup.py
Labels: priority:high

#370 ✨(python) Added mock data generator
  python/config.py
  python/fnames.csv
  python/generate_user.py
  python/image_urls.txt
  python/lnames.csv
  python/main.py
  python/mock-data-config.json
  python/readme.md
  python/user.py
Labels: priority:low, scope:db, type:feature

#377 🐛(scheduler) Fixed weekly mutate resulting in invalid individuals
  .github/workflows/goScheduler.yml
  go/api/endpoints/scheduler-invoker.go
  go/lib/utils/utils.go
  go/scheduler/data/data_test.go
  go/scheduler/ga/crossover.go
  go/scheduler/ga/fitness.go
  go/scheduler/ga/ga.go
  go/scheduler/ga/mutate.go
  go/scheduler/ga/mutate_test.go
  go/scheduler/overseer/overseer.go
Labels: priority:high, type:fix, scope:scheduler

#379 ✨(scheduler) Implemented config file loading
  go/lib/utils/utils.go
  go/lib/utils/utils_test.go
  go/scheduler/config.json
  go/scheduler/data/data.go
  go/scheduler/endpoints/scheduler.go
  go/scheduler/ga/fitness.go
  go/scheduler/ga/fitness_test.go
  go/scheduler/ga/ga.go
  go/scheduler/overseer/overseer.go
Labels: priority:high, type:feature, scope:scheduler

#381 ✨(scheduler) Added concurrence for scheduler/execute
  go/api/endpoints/scheduler-invoker.go
  go/api/scheduler/data_reciever.go
  go/scheduler/config.json
  go/scheduler/ga/crossover.go
  go/scheduler/ga/ga.go
  go/scheduler/ga/mutate.go
  go/scheduler/ga/popgen.go
  go/scheduler/overseer/overseer.go
  python/mock-data-config.json
Labels: priority:medium, scope:api, type:feature, scope:scheduler

#383 ✨(scheduler + api) Added buildings groupings to scheduler + periodic calling
  go/api/endpoints/scheduler-invoker.go
  go/api/go.mod
  go/api/go.sum
  go/api/main.go
  go/api/scheduler/caller.go
  go/api/scheduler/caller_test.go
  go/api/scheduler/data_retriever.go
  go/api/scheduler/data_retriever_test.go
  go/scheduler/config.json
  go/scheduler/overseer/overseer.go
Labels: priority:high, scope:api, type:feature, scope:scheduler

#385 Merge api-dev into develop
  go/api/endpoints/booking.go
  go/api/go.mod
  go/api/go.sum
  go/api/google_api/calendar.go
  go/api/redis/redis.go
  proxy/nginx.conf
Labels: priority:high, scope:api, scope:client, type:fix

#387 Merge api-dev into develop
  client/web/example/src/components/Resource/ResourceDesk.js
  client/web/example/src/components/Resource/ResourceMeetingRoom.js
  client/web/example/src/components/Role/RoleLeadOption.js
  client/web/example/src/components/Role/RoleListItem.js
  client/web/example/src/components/Role/RoleUserList.js
  client/web/example/src/components/Role/UserRoleList.js
  client/web/example/src/components/Team/TeamLeadOption.js
  client/web/example/src/components/Team/TeamListItem.js
  client/web/example/src/components/Team/TeamUserList.js
  client/web/example/src/components/Team/UserTeamList.js
  client/web/example/src/pages/BookingsDeskEdit.js
  client/web/example/src/pages/Login.js
  client/web/example/src/pages/ResourcesBuildingCreate.js
  client/web/example/src/pages/ResourcesBuildingEdit.js
  client/web/example/src/pages/ResourcesDeskCreate.js
  client/web/example/src/pages/ResourcesDeskEdit.js
  client/web/example/src/pages/ResourcesMeetingRoomCreate.js
  client/web/example/src/pages/ResourcesMeetingRoomEdit.js
  client/web/example/src/pages/ResourcesRoomCreate.js
  client/web/example/src/pages/ResourcesRoomEdit.js
  client/web/example/src/pages/Roles.js
  client/web/example/src/pages/RolesCreate.js
  client/web/example/src/pages/RolesEdit.js
  client/web/example/src/pages/RolesPermissions.js
  client/web/example/src/pages/Signup.js
  client/web/example/src/pages/TeamsPermissions.js
  client/web/example/src/pages/Users.js
  client/web/example/src/pages/UsersCreate.js
  client/web/example/src/pages/UsersEdit.js
  client/web/example/src/pages/UsersPermissions.js
  docker-compose.yml
  go/api/go.mod
  go/api/go.sum
  go/api/google_api/calendar.go
  go/api/google_api/credentials.json
  go/api/google_api/token.json
  proxy/nginx.conf
Labels: priority:high, scope:api, scope:client, type:bug

#388 ✨(scheduler) Fixed room spread penalty for daily scheduler
  go/api/endpoints/scheduler-invoker.go
  go/scheduler/ga/fitness.go
  go/scheduler/ga/fitness_test.go
  go/scheduler/ga/selection.go
  go/scheduler/overseer/overseer.go
Labels: priority:high, type:fix, type:feature, scope:scheduler

#390 Merge Client into Develop
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/components/BookingForm/DeskBooking.js
  client/web/example/src/components/BookingForm/MeetingRoomBooking.js
  client/web/example/src/components/BookingTicket/BookingTicket.js
  client/web/example/src/components/Calendar/CalendarComponent.js
  client/web/example/src/components/Map/Desk.js
  client/web/example/src/components/Map/Map.js
  client/web/example/src/components/Map/map.module.css
  client/web/example/src/components/Profile/EditProfile.js
  client/web/example/src/components/Profile/ProfileComponent.js
  client/web/example/src/components/Profile/profile.module.css
  client/web/example/src/components/Resource/ResourceDesk.js
  client/web/example/src/components/Resource/ResourceMeetingRoom.js
  client/web/example/src/components/Team/AddTeam.js
  client/web/example/src/pages/BookingsDeskEdit.js
  client/web/example/src/pages/Profile.js
  client/web/example/src/pages/ProfileConfiguration.js
  client/web/example/src/pages/Resources.js
  client/web/example/src/pages/Users.js
  client/web/example/src/pages/UsersCreate.js
  db/sql/statistics/statistics.function.automated_ratio.sql
  db/sql/statistics/statistics.function.average_utilisation.sql
  db/sql/statistics/statistics.function.current_occupancy.sql
  db/sql/statistics/statistics.function.utilisation.sql
  db/sql/statistics/statistics.function.yearly_utilisation.sql
  go/api/data/statistics.go
Labels: priority:high, scope:client, type:refractor, type:fix, type:feature

#391 merge api-dev into develop
  proxy/nginx.conf
Labels: priority:medium, scope:api, scope:client, type:bug, type:fix

#392 ✨ (scheduler) Daily scheduler now only books as much bookings as resources available
  go/api/endpoints/scheduler-invoker.go
  go/api/scheduler/caller.go
  go/scheduler/config.json
  go/scheduler/data/data.go
  go/scheduler/ga/domain.go
  go/scheduler/ga/fitness.go
  go/scheduler/ga/fitness_test.go
  go/scheduler/ga/ga.go
  go/scheduler/ga/mutate.go
  go/scheduler/overseer/overseer.go
  python/scheduler-call.py
Labels: priority:high, scope:api, type:fix, type:feature

#393 ✨(scheduler) Added new mock data + concurrency when calling scheduler for buildings
  db/sql/mock/arche-mock-v2.sql
  db/sql/mock/arche-mock-v3.sql
  go/api/endpoints/scheduler-invoker.go
  go/api/scheduler/caller.go
  go/scheduler/ga/fitness_test.go
  python/scheduler-call.py
Labels: priority:high, scope:api, scope:db, type:fix, type:feature, scope:scheduler

#395 💄✨🐛 (client/db) Added various stats charts, fixed stlying bugs, fixed database bugs
  client/web/example/package-lock.json
  client/web/example/package.json
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/components/Calendar/CalendarComponent.js
  client/web/example/src/components/Map/Creator.js
  client/web/example/src/components/Map/Desk.js
  client/web/example/src/components/Map/Map.js
  client/web/example/src/components/Map/map.module.css
  client/web/example/src/components/Navbar/Navbar.js
  client/web/example/src/components/Navbar/NavbarAdmin.js
  client/web/example/src/components/Navbar/ProfileBar.js
  client/web/example/src/components/Resources/AddBuilding.js
  client/web/example/src/components/Resources/AddRoom.js
  client/web/example/src/components/Resources/EditBuilding.js
  client/web/example/src/components/Resources/EditRoom.js
  client/web/example/src/components/Resources/resources.module.css
  client/web/example/src/components/StatisticsComponent/StatisticsComponent.js
  client/web/example/src/components/StatisticsComponent/statistics.module.css
  client/web/example/src/pages/Admin.js
  client/web/example/src/pages/CreateLayout.js
  client/web/example/src/pages/OfficeCreator.js
  client/web/example/src/pages/ResourcesDeskCreate.js
  client/web/example/src/pages/ResourcesDeskEdit.js
  db/sql/statistics/statistics.function.average_utilisation.sql
  db/sql/statistics/statistics.function.utilisation.sql
  db/sql/statistics/statistics.function.yearly_utilisation.sql
Labels: priority:high, scope:client, scope:db, type:bug, type:fix, type:feature

#400 🤌🏻(security): A suite of fixes
  client/web/example/src/App.css
  client/web/example/src/App.js
  client/web/example/src/pages/Login.js
  client/web/example/src/pages/ResetPassword.js
  db/migrate/000001_archebackup.up.sql
  db/sql/user/user.credential.function.store.sql
  go/api/endpoints/booking.go
  go/api/endpoints/user.go
Labels: priority:high, scope:api, scope:client, scope:db, type:fix, type:feature

#401 🔧(fix): Permissions issue
  client/web/example/src/components/Profile/EditProfile.js
  db/sql/mock/arche-mock-v3.sql
  go/api/endpoints/user.go
  go/api/security/validate.go
Labels: priority:high, scope:api, scope:client, scope:db, type:fix

#402 🤌🏻(fix): Default Building Select
  client/web/example/src/components/Profile/EditProfile.js
Labels: priority:high, scope:client, type:fix

#403 merge develop into api-dev
  client/web/example/src/components/Profile/EditProfile.js
  db/sql/mock/arche-mock-v3.sql
  go/api/endpoints/user.go
  go/api/security/validate.go
Labels: priority:high, scope:api, type:fix

#404 ✨(scheduler) Added meetingroom scheduling functionality
  go/api/data/resource.go
  go/api/data/resource_test.go
  go/api/endpoints/booking.go
  go/api/endpoints/scheduler-invoker.go
  go/api/main.go
  go/api/scheduler/caller.go
  go/api/scheduler/data_retriever.go
  go/api/security/validate.go
  go/lib/collectionutils/sliceutils.go
  go/lib/collectionutils/sliceutils_test.go
  go/scheduler/config.json
  go/scheduler/data/data.go
  go/scheduler/data/utils.go
  go/scheduler/data/utils_test.go
  go/scheduler/endpoints/scheduler.go
  go/scheduler/meeting_room/schedule.go
  go/scheduler/overseer/overseer.go
  python/break.py
  python/generate_user.py
  python/login.py
  python/mock-data-config.json
Labels: priority:high, scope:api, type:feature, scope:scheduler

#406 merge develop into api-dev
  go/api/data/resource.go
  go/api/data/resource_test.go
  go/api/endpoints/booking.go
  go/api/endpoints/scheduler-invoker.go
  go/api/main.go
  go/api/scheduler/caller.go
  go/api/scheduler/data_retriever.go
  go/lib/collectionutils/sliceutils.go
  go/lib/collectionutils/sliceutils_test.go
  go/scheduler/config.json
  go/scheduler/data/data.go
  go/scheduler/data/utils.go
  go/scheduler/data/utils_test.go
  go/scheduler/endpoints/scheduler.go
  go/scheduler/meeting_room/schedule.go
  go/scheduler/overseer/overseer.go
  python/break.py
  python/generate_user.py
  python/login.py
  python/mock-data-config.json
Labels: priority:high, scope:api, scope:client, type:refractor, type:fix

#408 👑(mock): Changed mock data
  db/sql/mock/arche-mock-v3.sql
Labels: priority:medium, scope:db, type:fix

#409 ✨(scheduler) Validated return data + split data by resource type
  db/sql/booking/booking.schema.sql
  go/api/endpoints/booking.go
  go/api/endpoints/scheduler-invoker.go
  go/api/google_api/calendar.go
  go/api/redis/redis.go
  go/api/scheduler/caller.go
  go/api/scheduler/data_retriever.go
  go/api/scheduler/data_retriever_test.go
  go/api/scheduler/logger.go
  go/scheduler/data/data.go
  go/scheduler/ga/domain.go
  go/scheduler/ga/fitness.go
  go/scheduler/ga/popgen.go
  go/scheduler/ga/validate.go
Labels: priority:high, scope:api, scope:db, type:feature

#410 👷 (ci/cd) Hopefully fixed code coverage
  .github/workflows/coverage.yml
Labels: priority:high, type:fix, scope:cicd

#411 🎁(misc): Fixes, postman docs and removed legacy scheduler
  db/sql/team/team.association.function.find.sql
  documentation/api/Smart Hybrid Workforce Manager.postman_collection.json
  documentation/api/Smart Hybrid Workforce System.postman_environment.json
  go/api/endpoints/user.go
  smart_scheduler/Dockerfile
  smart_scheduler/booking.py
  smart_scheduler/fitness.py
  smart_scheduler/requirements.txt
  smart_scheduler/resource.py
  smart_scheduler/role.py
  smart_scheduler/room.py
  smart_scheduler/scheduler_endpoint.py
  smart_scheduler/smart_scheduler.py
  smart_scheduler/teams.py
  smart_scheduler/test_booking.py
  smart_scheduler/user.py
Labels: priority:high, scope:api, scope:client, scope:db, type:fix, type:documentation, type:feature, scope:scheduler

#413 merge api-dev into develop
  go/api/endpoints/booking.go
  go/api/redis/redis.go
Labels: priority:high, scope:api, type:bug

#414 👷 (ci/cd) Updated code coverage to work with the backend
  .github/workflows/coverage.yml
  .github/workflows/coverage_go.yml
Labels: priority:high, type:fix, type:test, type:feature, scope:cicd

#415 Merge Client into Develop
  client/web/example/src/components/Map/Creator.js
  client/web/example/src/components/Map/Map.js
Labels: priority:high, scope:client, type:bug

#418 ✨(testing) Changed tests to integration tests in api
  .github/workflows/coverage_go.yml
  .github/workflows/go.yml
  db/.gitignore
  docker-compose.integration-test.yml
  go/api/endpoints/booking.go
  go/api/endpoints/booking_test.go
  go/api/endpoints/resource_test.go
  go/api/endpoints/role_test.go
  go/api/endpoints/team_test.go
  go/api/endpoints/user_test.go
  go/api/go.mod
  go/api/go.sum
  go/api/scheduler/caller.go
  go/api/scheduler/caller_integration_test.go
  go/api/scheduler/data_retriever_test.go
  go/lib/go.mod
  go/lib/go.sum
  go/lib/test_setup/db_access.go
Labels: priority:high, scope:api, type:test

#419 Merge Client into Develop
  client/web/example/public/index.html
  client/web/example/src/App.css
  client/web/example/src/components/BookingForm/DeskBooking.js
  client/web/example/src/components/BookingForm/MeetingRoomBooking.js
  client/web/example/src/components/Kanban/Kanban.js
  client/web/example/src/components/Map/Map.js
  client/web/example/src/components/Navbar/Navbar.js
  client/web/example/src/components/Navbar/NavbarAdmin.js
  client/web/example/src/components/Navbar/__test__/Navbar.test.js
  client/web/example/src/components/Navbar/navbar.module.css
  client/web/example/src/components/StatisticsComponent/StatisticsComponent.js
  client/web/example/src/components/Team/AddTeam.js
  client/web/example/src/components/User/EditUser.js
Labels: priority:high, scope:client, type:bug, type:fix, type:feature

#423 Work on scheduler
  go/api/scheduler/data_reciever.go
  go/scheduler/ga/crossover.go
  go/scheduler/ga/crossover_test.go
  go/scheduler/ga/ga.go
  go/scheduler/ga/ga_test.go
  go/scheduler/ga/validate.go
  go/scheduler/ga/validate_test.go
  go/scheduler/overseer/overseer.go
Labels: priority:high, scope:api, type:fix, scope:scheduler

#430 merge api-dev into develop
  client/web/example/src/pages/Login.js
  client/web/example/src/store/ProtectedRoute.js
  client/web/example/src/store/UserData.js
  client/web/example/src/store/userContext.js
  go/api/google_api/calendar.go
  go/api/google_api/credentials.json
Labels: priority:medium, scope:api, scope:client, type:fix

#434 ✨ (scheduler + api) Added scheduler config to endpoints
  go/api/endpoints/scheduler-invoker.go
  go/api/scheduler/data_retriever.go
  go/scheduler/data/data.go
  go/scheduler/endpoints/scheduler.go
Labels: priority:medium, scope:api, type:fix, scope:scheduler
